:root {
  /* Define color and size variables for easy theme management */
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  --transition-transform: transform 0.6s ease-in-out 0.1s;
  --transition-background: background-color 0.6s ease-in-out 0.1s;
  --primary-color: #8bcb94;
  --secondary-color: #4e7e46;
  --highlight-color: #c2dfbc;
  --dark-accent-color: #0d4e10;
  --small: 35px;
  --medium: 50px;
  --large: 65px;
  --bar-height: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 80px; /* Adjust based on header height */
}

.hidden {
  display: none;
}

#loader {
  /* Fullscreen loader styling */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-container {
  /* Spinner overlay */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.circle {
  /* Hover effect for buttons and list items */
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  background-color: transparent;
  opacity: 0.5;
  transition: transform 0.1s ease-out, left 0.15s, top 0.15s;
}

li:hover .circle,
button:hover .circle {
  transform: scale(6);
}

button:hover .circle {
  background-color: #ff4081;
}

li:hover {
  background-color: #e0e0e0;
}

#loader.hidden {
  display: none;
}

.language-selector {
  margin: 20px;
}

.language-selector select {
  padding: 10px;
  font-size: 10px;
  border-radius: 7px;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: lightgrey;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  cursor: pointer;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-background-color);
}

a {
  text-decoration: none !important;
}

a.logo-text {
  color: var(--accent-color);
}

.logo-text {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration-color: #010101;
}

h1,
h2,
h3 {
  color: inherit;
}

.page-title {
  color: var(--accent-color) !important;
  font-weight: bold;
}

section {
  box-shadow: var(--shadow);
}

button {
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--accent-background-color);
}

.btn-bd-primary {
  color: var(--accent-color) !important;
  background-color: transparent !important;
  border: 1px solid var(--accent-color) !important;
}

.btn-bd-primary:hover {
  color: #191414 !important;
  background-color: var(--accent-background-color) !important;
}

footer a:hover {
  color: var(--accent-color);
}

.footer-col-title {
  color: var(--accent-color) !important;
}

.bi {
  transition: var(--transition-transform);
  will-change: transform;
  color: var(--accent-color);
  font-size: 1.3rem;
}

.bi:hover {
  transform: scale(1.2);
  color: #1db954;
}

.icon-action-btn-container {
  margin-top: 30px;
}

.icon-action-btn {
  transition: color 0.3s;
}

.icon-action-btn.active {
  color: #1db954;
}

.icon-action-btn:hover {
  color: #1db954;
}

input[type="range"]#seekSlider {
  width: 80%;
  max-width: 400px;
  min-width: 100px;
  appearance: none;
  background: transparent;
}

input[type="range"]#seekSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: var(--accent-background-color);
  border-radius: 5px;
}

input[type="range"]#seekSlider::-moz-range-track {
  width: 100%;
  height: 5px;
  background: var(--accent-background-color);
  border-radius: 5px;
}

input[type="range"]#seekSlider::-ms-track {
  width: 100%;
  height: 5px;
  background: var(--accent-background-color);
  border-radius: 5px;
  border-color: transparent;
  color: transparent;
}

input[type="range"]#seekSlider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 2px solid var(--accent-background-color);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

input[type="range"]#seekSlider:hover::-webkit-slider-thumb {
  background: #e6f2e6;
}

input[type="range"]#seekSlider:hover::-moz-range-thumb {
  background: #e6f2e6;
}

input[type="range"]#seekSlider:hover::-ms-thumb {
  background: #e6f2e6;
}

.faq-profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.faq-box:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-section {
  background-color: #1a1a1a;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo-text {
  margin-right: auto;
}

.text-gray-300 {
  margin: 0 1rem;
}

#menu {
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  header {
    padding: 8px;
    max-height: 50px;
  }

  header .container {
    height: auto;
  }

  .menu-icon {
    display: block;
  }
}

@media (max-width: 768px) {
}

#menu {
  display: flex;
  align-items: center;
}

.text-gray-300 {
  margin-right: 1rem;
}

#profile-btn {
  margin-left: 1rem;
}

#profile-btn i {
  transition: color 0.3s ease;
}

#profile-btn:hover i {
  color: #1db954;
}

#profile-btn {
  background-color: transparent;
  border: none;
}

.text-gray-300 {
  color: #d1d1d1;
}

header {
  position: fixed;
  max-height: 120px;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #1a1a1a;
  padding: 10px 0;
}

#menu {
  background-color: inherit;
}

body {
  margin-top: 80px;
}

a.text-gray-300:hover {
  color: #1db954;
}

header {
  background-color: #1a1a1a;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensures the header stays on top of other elements */
  background-color: #1a1a1a; /* Adjust the background color as needed */
}

header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

#menu {
  background-color: inherit;
  position: relative;
}

.profile-and-friends {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 80px;
}

.profile-section,
.friends-section {
  flex: 1;
  background-color: inherit;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.friends-section,
.profile-section {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.profile-section:hover,
.friends-section:hover {
  transform: scale(1.02);
}

.profile-section:hover {
  transform: scale(1.02);
}

#profile-pic {
  transition: transform 0.3s ease;
}

#profile-pic:hover {
  transform: rotate(360deg);
}

#upload-pic {
  background-color: #94d769;
  border: #94d769;
}

#upload-pic:hover {
  background-color: #1db954;
  border: #1db954;
}

.friend-card {
  transition: all 0.3s ease;
  padding: 15px;
  text-align: center;
  background-color: inherit;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.friend-card:hover {
  transform: scale(1.05);
  background-color: #1db954;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.friend-card img {
  transition: transform 0.3s ease, border-radius 0.3s ease;
  border-radius: 50%;
}

.friend-card:hover img {
  transform: scale(1.1);
  border-radius: 50%;
}

.friend-card .card-title {
  margin-top: 10px;
}

.friend-card .card-text a {
  color: #ffffff;
  transition: color 0.3s ease;
}

.friend-card:hover .card-text a {
  color: #121212;
}

.friend-card .card-text a.btn {
  background-color: #ffffff;
  color: #121212;
}

.friend-card:hover .card-text a.btn {
  background-color: inherit;
  color: #ffffff;
}

.friend-card.collapsed:hover {
  transform: scale(1.05);
}

.friend-content {
  display: none;
  transition: all 0.3s ease;
  background-color: inherit;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  text-align: center;
}

.friend-content.expanded {
  display: block;
}

.btn-primary {
  background-color: #1db954;
  border-color: #1db954;
}

.btn-primary:hover {
  background-color: #1db700;
}

.footer-col-title {
  color: #333;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.nav {
  padding-left: 0;
}

.nav a {
  color: #555;
  text-decoration: none;
  padding: 0.5rem 0;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #28a745;
}

.nav a.button {
  display: inline-block;
  background-color: transparent;
  color: #555;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav a.button:hover {
  color: #28a745;
}

.nav i {
  color: #555;
  transition: color 0.3s ease;
}

.nav a:hover i {
  color: #28a745;
}

.nav-item:hover {
  background-color: inherit;
}

#auto-type-title {
  font-size: 3.111rem;
  color: #333;
  height: 2.5rem;
  overflow: hidden;
  line-height: 2.5rem;
}

h2.display-5 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #94d769;
  padding: 1rem 2rem;
  border-radius: 12px;
  margin: 0 auto 1rem;
}

p {
  font-size: 1.2rem;
  color: #b3b3b3;
  text-align: center;
  font-style: italic;
  transition: color 0.3s ease-in-out;
  margin-bottom: 2rem;
}

p:hover {
  color: #94d769;
}

form input,
form textarea {
  transition: all 0.3s ease-in-out;
  color: black;
  background-color: #f9f9f9;
}

form input:focus,
form textarea:focus {
  border-color: #1db954;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #1db954;
}

.map-container iframe {
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.social-icons a {
  font-size: 1.75rem;
  margin: 0 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #1db954;
  transform: scale(1.1);
}
#menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem; /* 40px converted to rem */
  height: 2.5rem; /* 40px converted to rem */
  background-color: #1a1a1a; /* Background color */
  border-radius: 50%; /* Rounded corners */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

#menu-toggle:hover {
  background-color: #333; /* Darker background on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

#menu-toggle svg {
  width: 1.5rem; /* 24px converted to rem */
  height: 1.5rem; /* 24px converted to rem */
  stroke: #fff; /* Icon color */
}

#menu-toggle:active {
  transform: scale(0.9); /* Slightly shrink on click */
}

@media (min-width: 769px) {
  #menu-toggle {
    display: none; /* Hide on larger screens */
  }
}
